#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}
.customMenuItem{
    padding-left: 0 !important;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: transparent;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
